.i-photo {
  opacity: 0;
  transform: translateY(4em) rotateZ(0deg);
  transition: transform 0.5s .15s cubic-bezier(0,1,.3,1);
  will-change: transform, opacity;
}

.i-photo.is-visible {
  opacity: 0.7;
  transform: rotateZ(0deg);
}


/*style of the small images in the gallery*/
.image_gallery {
  opacity: 0.7;
  filter: grayscale(70%);
  text-align: center;
  object-fit: cover;
  width: 18em;
  height: 18em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: 0.3s;
  padding: 0.5rem;

  transition: opacity .25s ease-in-out, transform .25s ease-in-out, filter 0.25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out, transform .25s ease-in-out filter 0.25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out, transform .25s ease-in-out filter 0.25s ease-in-out;
  will-change: opacity;
}
.image_gallery:hover {
  opacity: 1;
  filter: grayscale(0%);
  transform: translateY(-10%);
  transition: opacity ease-in 0.3s, filter ease-in 0.3s,
  transform ease-in-out 0.25s ;
}

/*class of the div in which the gallery is placed in order to keep the images centered*/
.gallery_spacing {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: baseline;

  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  will-change: height, opacity;
}

.dont-show-image {
  position: absolute;
  margin-top: -500rem;
  overflow: hidden; 
  height: 0;
  padding: 0;
  width: 0;
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  will-change: height, opacity;
}

.show-image {
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  will-change: height, opacity;
}

/*in combination with the lightbox, this is used to style the navigation*/
.sl-next, .sl-prev {
  -webkit-animation: fadeinout 4s linear forwards;
  animation: fadeinout 4s linear forwards;
}
.sl-next:hover, .sl-prev:hover {
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 4s linear forwards;
  }

@-webkit-keyframes fadeinout {
0%,100% { opacity: 0; }
50% { opacity: 1; }
}

@keyframes fadeinout {
0%,100% { opacity: 0; }
50% { opacity: 1; }
}
