@media only screen and (max-width: 900px) {
    #prof_slika {
        margin-right: 5%;
    }
    
    #footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #footer div {
       width: 100%;
    }

    #footer-menu {
        width: 100%;
        margin-left: -2em;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .social-menu {
        display: flex;
        flex-grow: 0;
        flex-direction: row;
        list-style-type: none;
        width: 100%;
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) {
    .main-menu .table-1 {
        display: none;
      }

    .image_land {
        float: left;
        padding: 1em;
        width: 16em;
        max-width: 100%;
        height: auto;
        max-height: fit-content;
        overflow: hidden;
        object-fit: contain;
    }

    #banner-wrapper {
        height: 13em;
    }
    
    #prof_slika {
        display: none;
        margin-right: 0em;
    }

    .content-wrapper {
        margin-left: 0em;
        margin-right: 0em;
        position: relative;
    }

    #front-page {
        margin-top: 0em;
        margin-left: 0em;
        margin-right: 0em;
        position: relative;
    }
    
    .row {
        display: flex;
        flex-direction: column;
        content: "";
        clear: both;
        margin-right: 1em;
    }
    .column-3 {
        width: 100%;
        margin-top: 1em;
    }
    .column-75 {
        width: 100%;
        margin-top: 1em;
    }
    .column-25 {
        width: 100%;
        margin-top: 1em;
    }

    #fp-par {
        margin-top: 18em;
    }
}

@media only screen and (max-width: 480px) {    
    .content-wrapper {
        margin-left: 0em;
        margin-right: 0em;
        color: #f2f2f2;
        position: relative;
    }
    
    #front-page {
        margin-top: 0em;
        margin-left: 0em;
        margin-right: 0em;
        color: #f2f2f2;
        padding: 1em;
    }

    #prof_slika {
     display: none;
    }

    .row {
        display: flex;
        flex-direction: column;
        content: "";
        clear: both;
        margin-right: 1em;
    }
}
