* {
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    color: azure;
}

body {
    background-color: black;
}

#background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    background-repeat: no-repeat;
}

/*#whole-page {
    
}*/

#page {
    transition: 0.2s;
    position: relative;
    width: 100%;
    height: webkit-fill-available;
    /*overflow: hidden;*/
}

.sideopen {
    transform: translate(-20em, 0);
    transition: all ease-in-out .2s;
}

.willkommen {
    display: flex;
    justify-content: center;
    margin: 0.5em 2.5em 2.5em 2.5em;
}

.header-line {
    border-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 25px 5px rgba(255, 255, 255, 0.5);
}

h1,h2 {
    color: rgb(247, 6, 70);
    text-align: center;
    margin: 0.5em;
    font-size: 4em;
    font-weight: 800;
    font-style: normal;
    font-family: sans-serif;
    -webkit-text-fill-color: rgba(255, 255, 255, 0); 
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: rgb(247, 6, 70);
    text-shadow: 0 0 32px red;
    -moz-text-fill-color: rgba(255, 255, 255, 0); 
    -moz-text-stroke-width: 2px;
    -moz-text-stroke-color: rgb(247, 6, 70);
}

#signature {
    color: rgb(247, 6, 70);
    text-align: center;
    margin-top: -4em;
    padding-left: 15%;
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
    font-family: sans-serif;
    text-shadow: 0 0 2em red;
    margin-bottom: 4em;
}

.signature {
    color: rgb(247, 6, 70);
    font-size: 1em;
    /*font-weight: 400;*/
    font-style: italic;
    font-family: sans-serif;
    text-shadow: 0 0 32px red;
}

.banner-wrapper {
    height: auto;
    width: auto;
    position: relative;
}

#banner-img {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: -25;
    height: 15em;
    width: 100%;
    max-width: 100%;
    background-color: #222;
    background-image: url('../img/banner011.webp');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#prof_slika {
    background-image: url('../img/insta_me1.jpg');
    background-size: cover;
    border-radius: 50%;
    margin-right: 2.5em;
    height: 10em;
    width: 10em;
    z-index: 1;
    border-right: 3px solid white;
    border-left: 3px solid white;
    border-top: 3px solid white;
}

.content-wrapper {
    margin-top: 1em;
    margin-left: 7em;
    margin-right: 7em;
    height: auto;
    color: #f2f2f2;
    position: relative;
    padding: 1em;
}

#content-about {
    display: none;
}

/* Clear floats after the columns */
.row {
    display: flex;
    content: "";
    clear: both;
    margin-top: 1em;
}

.row div {
    margin: 0.5em;
}

.row div p {
    padding: 1em;
    text-align: justify;
}

/* Create three equal columns that float next to each other */
.column-3 {
    float: left;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    width: 33.33%;
    color: azure;
    background: #80808080;
}

.column-1 {
    color: azure;
    background: #80808080;
    width: 100%;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.column-75 {
    color: azure;
    background: #80808080;
    width: 75%;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.column-25 {
    color: azure;
    background: #80808080;
    width: 25%;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.image_land {
    float: left;
    padding: 1em;
    max-width: 100%;
    overflow: hidden;
    object-fit: contain;
}

.image_land_fixed {
    float: left;
    padding: 1em;
    width: 16em;
    max-width: 100%;
    height: auto;
    max-height: fit-content;
    overflow: hidden;
    object-fit: contain;
}

#footer-wrapper {
    display: block;
    position: relative;
    color: #f2f2f2;
    bottom: 0;
    padding: 2em;
    box-sizing: border-box;
    background-color: #adadad80;
    width: 100%;
}

#footer {
    display: flex;
    flex-direction: row;
    margin: 1em 2em 1em 2em;
}

/*#footer-wrapper::after {
    overflow: hidden;
    background-image: url('../img/seamsq12.png');
    background-position: center;
    content: "";
    opacity: 0.2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;   
}*/

#footer ul {
    list-style-type: none;
}

#footer div {
    margin: 0em 0.5em 0em 0.5em;
}

#footer div ul li {
    padding: 0.1em 0em 0.1em 0em;
}

#footer div ul li a {
    text-decoration: none;
}

#social-menu {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

#social-menu ul li {
    display: inline-flex;
}

#social-menu ul li a {
    text-align: center;
    list-style-type: none;
}

.fa {
    padding: 1em;
    font-size: 2em;
    width: 3em;
    height: 3em;
    text-align: center;
    text-decoration: none;
    margin: 0.5em 0.2em;
    background-color: #999999;
    border-radius: 50%;
}
  
.fa:hover {
      opacity: 0.7;
}