@media only screen and (max-width: 900px) {
    /*pretvara layout footera iz row u kolone*/
    #footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #footer div {
       width: 100%;
       margin: 0em;
    }

    #footer-menu {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    #footer-menu ul {
        padding-inline-start: 0px;
    }
    
    .social-menu {
        display: flex;
        justify-content: center;
    }

    .social-menu ul {
        padding-inline-start: 0px;
        margin-top: 1rem;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

}

@media only screen and (max-width: 768px) {
  /*padding je tu da zadrzi footer dole*/
    #page {
        padding-bottom: 22rem;
    }
  /*skriva main navigaciju na malim ekranima*/
    .main-menu .table-1 {
        display: none;
    }

/*smanjuje margine stranica*/
    .content-wrapper {
        margin-left: 3em;
        margin-right: 3em;
    }

    /*prebacuje direkciju redova u kolone*/
    .row {
        display: flex;
        flex-direction: column;
        content: "";
        clear: both;
    }
/*siri kolone na full width na malim ekranima*/
    .column {
        width: 100%;
    }

/*Background text i kvadrati*/

    #gal-b1 {
        font-weight: 800;
        color: rgba(75, 75, 75, 0.5);
        background-color: rgba(128, 128, 128, 0);
        line-height: 1em;
    }

    #about-b1 {
        top: -5rem;
        right: 0rem;
        width: auto;
        height: 20rem;
    }

    .margin-minus-1 {
        margin-top: -3rem;
      }
      
      .margin-minus-2 {
        margin-top: -9rem;
      }
      
      .margin-minus-3 {
        margin-top: -10rem;
      }

#slika11i {
        width: 50%;
        margin-right: 0%;
    }
#slika22i {
        width: 50%;
        margin-left: 0%;
    }
#slika33i {
          width: 50%;
          margin-top: -12rem;
          margin-right: 0%;
      }
}

@media only screen and (max-width: 480px) {   
    #page {
        padding-bottom: 26rem;
    }
    
    h2 {
        font-size: 2.5rem;
    }

    .content-wrapper {
        margin-left: 0em;
        margin-right: 0em;
        color: #f2f2f2;
    }

    .row {
        display: flex;
        flex-direction: column;
        content: "";
        clear: both;
        margin-right: 0em;
    }

    #footer {
        margin-right: 0px;
        margin-left: 0px;
    }
    
    #web-b2 {
        margin-top: 0rem;
        width: 60%;
        height: 5rem;
        right: 0;
        bottom: 0;
    }
    
    #front-b1 {
       top: 0;
        left: 0;
        width: 40%;
        height: 15rem;
    }
    
    #gal-b1 {
        left: 0rem;
        font-weight: 800;
        color: rgba(75, 75, 75, 0.5);
        background-color: rgba(128, 128, 128, 0);
        line-height: 1em;
        margin-top: -3rem;
    }
    
    #about-b1 {
        top: -5rem;
        right: 0rem;
        width: auto;
        height: 20rem;
    }
    #about-b2 {
        margin-top: -5rem;
        left: 0;
        width: 60%;
        height: 20rem;
    }
    
    .separator {
        height: 15vw;
        width: 100%;
    }

    .float-center {
        display: none;
    }

    #design-br {
        display: none;
    }

    .margin-minus-1 {
        margin-top: 0rem;
      }
      
      .margin-minus-2 {
        margin-top: 0rem;
      }
      
      .margin-minus-3 {
        margin-top: 0rem;
      }

      .hx_right-img {
        display: flex;
        float: right;
        justify-content: center;
        text-align: center !important;
        margin-right: 0rem;
    }
    
    .hx_left-img {
        float: left;
        justify-content: center;
        text-align: center !important;
        margin-left: 0rem;
    }
    #slika11i {
        width: 100%;
        margin-right: 0%;
    }
    
      #slika22i {
          width: 100%;
          margin-left: 0%;
      }
      
      #slika33i {
       width: 100%;
       margin-right: 0%;
       margin-top: 2rem;
       
      }

      .column-flex {
        display: flex;
        justify-content: center;
    }
}
