* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans Regular', 'Lucida Grande';
}
/*boja selektovanog texta*/
*::selection {
    background: #ff7676;
}
*::-moz-selection {
    background: #ff7676;
}
/*za sve linkove*/
a {
    color: azure;
    cursor: pointer;
    text-decoration: none;
}
/*za up dugme*/
#up {
    font-size: 2rem;
    line-height: 1;
    position: fixed;
    height: 3rem;
    width: 3rem;
    margin: 2rem;
    background-color: rgba(51, 51, 51, 1);
    color: azure;
    bottom: 0;
    right: 0;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;    
}

.up-opacity {
    opacity: 0.5 !important;
    transition: opacity ease-in 0.25s;
}

#up:hover {
    opacity: 1 !important;
    transition: opacity ease-in 0.25s;
}

#up a {
    list-style: none;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 3rem;
    padding: 0.5rem;
}

body {
    background-color: black;
}

#background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -35;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    background-repeat: no-repeat;
}

/*stil za celu stranicu*/

#whole-page {
    position: relative;
    min-height: 100vh;
    transition: ease 0.2s;
}
/*za sprecavanje kontent prelivanja van page-a*/
.overflow0 {
    overflow: hidden;
}

/*stil za stranicu bez side menija i footera*/

#page {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    height: auto;
    padding-bottom: 20rem;
}

#logo01 {
    /*background-color: dimgray;*/
    /* background-color: maroon;*/
    background-color: rgb(250, 235, 215);
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);;
    height: 20rem;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/logo_kris.svg");
    background-size: contain;
    position: relative;
}

#logo-col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3rem;
    height: 100vh;
}

/*stil headera do h3*/

h1 {
    color: orange;
    font-size: 5rem;
    font-weight: 700;
    font-style: normal;
    font-family: sans-serif;
}

h2 {
    font-weight: 600;
    font-size: 3rem;
    padding: 0.5rem;
    color: orange;
}

h3 {
    font-weight: 600;
    padding: 0.5rem;
    color: orange;
}

/*Stil za potpis ako se negde stavlja u stranicu (footer za sad)*/

.signature {
    color: orange;
    font-family: 'Armata';
    font-size: 1em;
    font-style: italic;
    text-shadow: 0 0 32px orange;
}

/*Ovo je za kvadrate u pozadini*/

.background-cube {
    position: absolute; 
    z-index: -29;
    background: url("../img/sing_square_rot-01-01.svg") no-repeat center;
    background-image: url("../img/sing_square_rot-01-01.svg");
    background-size: contain;
}

#willkommen {
    height: 10rem;
    width: 10rem;
    right: 0;
    margin-right: 3rem;
    top: 10rem; 
    opacity: 0.3;
    transform: rotate(45deg);
}

#willkommen2 {
    height: 13rem;
    width: 13rem;
    left: 25%;
    right: auto;
    top: 42rem; 
    opacity: 0.5;
}
#willkommen3 {
    height: 7rem;
    width: 7rem;
    left: -1.7rem;
    right: auto;
    top: -0.7rem; 
    opacity: 0.3;
    transform: rotate(45deg);
}

#willkommen4 {
    height: 10rem;
    width: 10rem;
    left: 0;
    right: 0;
    opacity: 0.5;
    margin-left: auto;
    margin-right: auto;
}

#willkommen5 {
    height: 15rem;
    width: 15rem;
    left: 0;
    right: 0;
    opacity: 0.4;
    margin-left: 60%;
    margin-right: auto;
}
/*tekst u willcommen4 (link za galeriju)*/
#will4txt {
    margin-left: auto;
    margin-right: auto;
    width: 7rem;
    padding-top: 4rem;
    transition: ease-in-out 0.3s;
    filter: grayscale(1);
}

#will4txt:hover {
    filter: grayscale(0);
    transition: ease-in-out 0.3s;
}

/*Content wrapper je container za segmentiranje sadrzaja*/

.content-wrapper {    
    color: #f2f2f2;
}

/*Row sadrzi kolone i stoji u content wrapperu*/
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    content: "";
    clear: both;
    margin-top: 1rem;
    margin-bottom: 1rem;
    z-index: 1;
}

/*Sirine kolona unutar row-a, i njihove globalne vrednosti, u kojima stoji kontent*/

.column {
    text-align: justify;
    font-weight: 500;
    padding: 0.5rem;
}

.c25 {
    width: 25%;
}

.c30 {
    width: 30%;
}

.c33 {
    width: 33.33%;
}

.c40 {
    width: 40%;
}

.c50 {
    width: 50%;
}

.c60 {
    width: 60%;
}

.c70 {
    width: 70%;
}

.c75 {
    width: 75%;
}

.c100 {
     width: 100%;
 }

 /*empty space*/

.separator {
    height: 10vw;
    width: 100%;
}

/*slike u fp galeriji*/

.fr-img-row .c33 img {
    height: 30rem;
    width: 100%;  
}

 /*Slike sa fiksnom sirinom koje se stavljaju unutar columna ili column > p element, takodje fiksirane
 na odredjenu stranu (left, right)*/

.image_fixed_left {
    margin: 0em 1em 0em 0em;
    float: left;
    width: 16em;
    max-width: 100%;
    height: auto;
    max-height: fit-content;
    overflow: hidden;
    object-fit: contain;
}

.image_fixed_right {
    margin: 0em 0em 0em 1em;
    float: right;
    width: 16em;
    max-width: 100%;
    height: auto;
    max-height: fit-content;
    overflow: hidden;
    object-fit: contain;
}

/*Klasa za sakrivanje contenta*/

.dont-show {
    opacity: 0 !important;
}

/*Klasa za otkrivanje contenta*/

.show-content {
    opacity: 1 !important;
    transition: ease-in-out 1s;
    will-change: transform, opacity;
}

/*placeholder za web dev str*/

#web-dev-p {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
}

/*bold i veci text*/

.large_text {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.3em;
}

/*zasecen block koji je za background - WIP*/

.clip-background {
    position: absolute;
    z-index: -1;
    background-color: rgb(175, 175, 175);
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0 0, 0 200px, 200px 160px, 200px 0);
    clip-path: polygon(0 0, 0 200px, 200px 160px, 200px 0);
}

/*klase za pozicioniranje nekog segmenta na desnu, centar ili levu str*/

.hx_right {
    float: right;
    justify-content: right;
    text-align: right !important;
    margin-right: 0rem;
}

.hx_left {
    float: left;
    justify-content: left;
    text-align: left !important;
    margin-left: 0rem;
}

.hx_center {
    text-align: center !important;
}

/*klasa za grayscale (iskoristeno na videu u pozadini)*/

.grayscale-blur {
    filter: grayscale(1);
    -webkit-filter: grayscale(1); 
    filter: grayscale(100%); 
    -o-filter: grayscale(1);
  }

/*Klase za liste u About delu*/

.list-about {
    padding-inline-start: 0px;
    border: none;
}

.list-about > li {
    font-size: 1.3rem;
    padding: 1rem;
    width: 100%;
    list-style: none;
    line-height: 1.5rem;
    
}

.list-about > li:nth-child(2n + 1) {
    background-color: rgba(51, 51, 51, 0.5);
}

.list-about > li::before {
    content: "\2022";
    color: orange;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    font-size: 2rem;
}

.list-about-2 {
    padding-inline-start: 0px;
}

.list-about-2 > li {
    font-size: 1.3rem;
    padding: 1rem;
    width: 100%;
    list-style: none;
    line-height: 1.5rem;
}

.list-about-2 > li:nth-child(2n + 1) {
    background-color: rgba(51, 51, 51, 0.5);
}

.list-about-3 {
    padding-inline-start: 0px;
}

.list-about-3 > li {
    font-size: 1.3rem;
    padding: 1rem;
    width: 100%;
    list-style: none;
    line-height: 1.5rem;
}

.highlight-txt {
    color: orange;
}

/*Sve vezano za footer*/

#footer-wrapper {
    width: 100%;
    color: #f2f2f2;
    bottom: 0;
    padding: 2em;
    background-color: rgba(51, 51, 51, 0);
    position: absolute;
    height: auto;
    clear: both;
}

#footer-wrapper > p, #footer-wrapper > p > span {
    font-family: 'Armata';
    font-weight: 600;
}

#footer {
    display: flex;
    margin: 1em 2em 1em 2em;
    align-items: center;
}

#footer ul {
    list-style-type: none;
}

#footer div {
    margin: 0em 0.5em 0em 0.5em;
}

#footer div ul li {
    padding: 0.1em 0em 0.1em 0em;
}

#footer div ul li a {
    text-decoration: none;
}

#footer-menu ul li a {
    font-family: 'Armata';
    font-weight: 600;
}

.social-menu {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.social-menu ul li {
    display: inline-flex;
    
}

.social-menu ul li a {
    text-align: center;
    list-style-type: none;
    
}

/*Social media icons*/

.fa {
    padding: 1em;
    font-size: 2em;
    width: 3em;
    height: 3em;
    text-align: center;
    text-decoration: none;
    margin: 0.5em 0.2em;
    background-color: orange;
    border-radius: 50%; 
}
  
.fa:hover {
      opacity: 0.7;
}

/*background cubes and text*/

.div-background-left {
    position: absolute;
    border: none;
    z-index: -30;
    background-color: rgba(51, 51, 51, 0.5);
    margin-left: 20%;
    will-change: transform, opacity;
}

.div-background-right {
    position: absolute;
    border: none;
    z-index: -30;
    background-color: rgba(51, 51, 51, 0.5);
    margin-right: 20%;
    will-change: transform, opacity;
}

#web-b2 {
    margin-top: -2rem;
    width: 60%;
    height: 5rem;
    right: 0;
}

#front-b1 {
    display: none;
   top: 0;
    left: 0;
    width: 40%;
    height: 15rem;
}

#gal-b1 {
    margin-top: -12rem;
    margin-right: 0% !important;
    width: auto;
    left: 0rem;
    font-size: 20vw;
    font-weight: 800;
    color: rgba(75, 75, 75, 0.5);
    background-color: rgba(128, 128, 128, 0);
    line-height: 1em;
}

#gal-b2 {
    margin-top: -1rem;
    width: 35%;
    height: 5rem;
    right: 0;
}

#gal-b3 {
    margin-left: 2.5rem;
    width: 35%;
    height: 5rem;
    left: 0;
}

#about-b1 {
    top: -5rem;
    width: auto;
    right: 0rem;
    font-size: 20vw;
    font-weight: 800;
    color: rgba(75, 75, 75, 0.5);
    background-color: rgba(128, 128, 128, 0);
    line-height: 1em;
}
#about-b2 {
    margin-top: -5rem;
    left: 0;
    width: 35%;
    height: 20rem;
}

/*link za galeriju*/
#gal-link {
    right: 0;
    left: 0;
    text-align: center;
    z-index: 5;
    margin-left: auto;
    margin-right: 12%;
}

.image-main-page {
    overflow: hidden;
    filter: grayscale(0.5) contrast(130%);
    margin: 0;
    padding: 0;
    z-index: 5;
    
}

.image-main-page:hover {
    filter: grayscale(0) contrast(100%);
    transform: translateY(-10%);
    transition: transform ease-in-out 0.25s;
    z-index: 100;
}

#design-br {
    display: none;
}

.fr-img-row {
    margin-top: 9rem;
    padding: 0rem;
    justify-content: space-between;
}

.column:hover > #p1p {
    opacity: 1;
    text-shadow: 2px 2px #000000;
}

.column:hover > #p2p {
    opacity: 1;
    text-shadow: 2px 2px #000000;
}

.column:hover > #p3p {
    opacity: 1;
    text-shadow: 2px 2px #000000;
}

.fr-img-row p {
    position: absolute;
    text-align: center;
    margin-top: -4.2rem;
    z-index: -10;
}

#p1p {
    margin-top: -2rem;
    left:0;
    opacity: 0;
    transition: ease-in-out 0.3s;
}
#p2p {
    margin-top: -2rem;
    left:0;
    right:0;
    opacity: 0;
    transition: ease-in-out 0.3s;
}
#p3p {
    margin-top: -2rem;
    right:0;
    opacity: 0;
    transition: ease-in-out 0.3s;
}

/*da pocetni kontent zauzima full view height*/
.top-of-p {
    height: 100%;
    min-height: 25rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/*za spustanje my skills row-a*/
.margin-top-15 {
    margin-top: 15rem;
}

.tooltip {
    position: relative;
    display: inline-block;
    justify-content: center;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    border-radius: 10px;
    padding: 6px 6px;
    position: absolute;
    z-index: 1;
    margin-top: -2rem;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
