* {
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    color: azure;
}

body {
    background-color: black;
}

#whole-page {
    transition: 0.2s;
}

.willkommen {
    display: flex;
    justify-content: center;
    margin: 2.5em;
}

h1,h2 {
    color: rgb(247, 6, 70);
    text-align: center;
    margin: 0.5em;
    font-size: 50px;
    font-weight: 800;
    font-style: normal;
    font-family: sans-serif;
    -webkit-text-fill-color: rgba(255, 255, 255, 0); 
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: rgb(247, 6, 70);
    text-shadow: 0 0 32px red;
    -moz-text-fill-color: rgba(255, 255, 255, 0); 
    -moz-text-stroke-width: 2px;
    -moz-text-stroke-color: rgb(247, 6, 70);
}

#signature {
    color: rgb(247, 6, 70);
    text-align: center;
    margin-top: -3.2em;
    padding-left: 15%;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    font-family: sans-serif;
    text-shadow: 0 0 32px red;
}

.signature {
    color: rgb(247, 6, 70);
    font-size: 18px;
    /*font-weight: 400;*/
    font-style: italic;
    font-family: sans-serif;
    text-shadow: 0 0 32px red;
}

.header-line {
    border-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 25px 5px rgba(255, 255, 255, 0.5);
}

#background-video {
    position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      background-size: cover;
      background-repeat: no-repeat;
}

.banner-wrapper {
    height: auto;
    width: 100%;
    position: relative;
}

#banner-img {
    height: 20em;
    background-color: #222;
    position: static;
    z-index: -25;
    width: 100%;
    background-image: url(css-img/banner.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*.main-menu-wrapper {
    height: 2.5em;
    background: #222;
}*/

.content-wrapper {
    margin-top: 1em;
    height: auto;
    color: #f2f2f2;
    position: relative;
    padding: 1em;
}

/* Create three equal columns that floats next to each other */
.column {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    width: 33.33%;
    margin: 0em 0.5em 0em 0.5em;
    padding: 1em;
    color: azure;
    background: #80808080;
}

/* Clear floats after the columns */
.row {
    display: flex;
    flex-direction: row;
    content: "";
    clear: both;
    margin-top: 1em;
}

.column-lar {
    margin: 0em 0.5em 0em 0.5em;
    color: azure;
    padding: 2em;
    background: #80808080;
    width: 100%;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.column-med-75 {
    margin: 0em 0.5em 0em 0.5em;
    padding: 1em;
    color: azure;
    padding: 2em;
    background: #80808080;
    width: 75%;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.column-sml-25 {
    margin: 0em 0.5em 0em 0.5em;
    padding: 1em;
    color: azure;
    padding: 2em;
    background: #80808080;
    width: 25%;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.footer-wrapper {
    float: left;
    color: #f2f2f2;
    /*position: absolute;*/
    bottom: 0;
    padding: 2em;
    margin-top: 0.5em;
    box-sizing: border-box;
    background-color: #80808080;
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: row;
    margin: 1em 2em 1em 2em;
}

.footer ul {
    margin-top: -0.5em;
    list-style-type: none;
}

.footer div {
    width: 33.33%;
    margin: 0em 0.5em 0em 0.5em;
    padding: 1em 1em 0.5em 1em;
}

.footer div ul li {
    padding: 0.1em 0em 0.1em 0em;
}

.footer div ul li a {
    text-decoration: none;
}

.footer div ul li a {
    text-decoration: none;
}

.footer-menu {
    padding: 0;
}

#social-menu ul {
    margin-left: -3em;
}

#social-menu ul li {
    display: inline-block;
    list-style-type: none;
}

#social-menu ul li a {
    text-align: center;
    list-style-type: none;
}

.fa {
    padding: 1em;
    font-size: 2em;
    width: 3em;
    height: 3em;
    text-align: center;
    text-decoration: none;
    margin: 0.5em 0.2em;
    background-color: #999999;
    border-radius: 50%;
}
  
.fa:hover {
      opacity: 0.7;
}

@media only screen and (max-width: 900px) {
    .main-menu ul {
      display: none;
}
}

@media only screen and (max-width: 768px) {
    .row {
        display: flex;
        flex-direction: column;
        content: "";
        clear: both;
        margin-right: 1em;
    }
    .column {
        width: 100%;
        margin-top: 1em;
    }
    .column-med-75 {
        width: 100%;
        margin-top: 1em;
    }
    .column-sml-25 {
        width: 100%;
        margin-top: 1em;
    }
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #footer-menu {
        width: 100%;
        margin-left: -1em;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    #social-menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        width: 100%;
        justify-content: center;
    }
}