/*Main menu stil*/
.main-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 3em;
    background-color: #ce6a6c00;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 20;
}

.main-menu p {
    float: left;
    height: auto;
    list-style-type: none;
}

.home {
    margin: 0em 1em;
    color: #3abdd4;
    font-size: 1.7em;
    font-weight: 900;
    text-decoration: none;
    font-family: 'Armata';
    text-shadow: 0 0 2em #3abdd4;
}

.main-menu ul {
    padding: 0;
}

.main-menu ul li {
    float: left;
    list-style: none;
    position: relative;
   /* width: 10rem;*/
}

.main-menu ul li a {
    display: block;
    color: white;
    padding: 1em 1em;
    text-decoration: none;
    height: 3em;
    font-weight: 600;
    cursor: pointer;
}

.main-menu ul .list .menu-item:hover {
    background-color: orange;  
    color: azure;
    transition: ease-in-out 0.2s;
}

.main-menu ul .list a:hover, .list:hover .menu-item {
    background-color: orange;
    color: azure;
    transition: ease-in-out 0.2s;
}
/*stil pri hoveru preko linka*/
.main-menu .list ul li a:hover {
    background-color: orange;
    height: 3em;
    color: azure;
    font-style: unset;
    font-size: 1em;
    transition: ease-in-out 0.2s;
}

.main-menu ul li:hover ul {
    background-color: rgba(51, 51, 51, 1);
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.5);
    display: block;
    transition: ease-in-out 0.2s;
}

.main-menu ul li ul {
    display: none;
    overflow: hidden;
    position: absolute;
    border-radius: 0em 0em 0em 0em;
}

/* Sirina i visina dropdowna, da svaki bude drugaciji po zelji */
.main-menu ul li .un-list1 li {
    width: 11rem;
    height: 3em;
    overflow: hidden;
}
.main-menu ul li .un-list2 li {
    width: 11rem;
    height: 3em;
    overflow: hidden;
}
.main-menu ul li .un-list3 li {
    width: 11rem;
    height: 3em;
    overflow: hidden;
}
.main-menu ul li .un-list4 li {
    width: 11rem;
    height: 3em;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .home {
        margin-left: 0.2rem;
    }
}
