/*/////////////////*/

.i-photo {
  box-shadow: 1em 1em 2em .25em rgba(0, 0, 0, 0);
  margin: 0em;
  opacity: 0;
  transform: translateY(4em) rotateZ(0deg);
  transition: transform 1s .15s cubic-bezier(0,1,.3,1),
              ;
  will-change: transform, opacity;
}

.i-photo.is-visible {
  opacity: 0.7;
  transform: rotateZ(0deg);
}

.image_gallery {
  opacity: 0.7;
  filter: grayscale(70%);
  text-align: center;
  object-fit: cover;
  width: 30rem;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: 0.3s;
  padding: 1rem;
}

.image_gallery:hover {
  opacity: 1;
  filter: grayscale(0%);
  transition: ease-in 0.3s;
  transform: translateY(-10%);
  transition: opacity ease-in 0.3s, filter ease-in 0.3s,
  transform ease-in-out 0.25s ;
}

.image_gallery_sm {
  opacity: 1 !important;
  filter: grayscale(70%);
  text-align: center;
  object-fit: cover;
  width: 18em;
  height: 18em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: 0.3s;
  margin: 1rem;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
}

.image_gallery_sm:hover {
  opacity: 1;
  filter: grayscale(0%);
  transform: translateY(-10%);
  transition: opacity ease-in 0.3s, filter ease-in 0.3s,
  transform ease-in-out 0.25s ;
}

/*klasa koja razdvaja slike unutar kontainera i cini da po popunjavanju reda, ostale slike predju u drugi*/

.gallery_spacing {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-left: 5%;
  margin-right: 5%;
}

/*/////////////////////////////////////////*/

.sl-next, .sl-prev {
  -webkit-animation: fadeinout 4s linear forwards;
  animation: fadeinout 4s linear forwards;
}

@-webkit-keyframes fadeinout {
0%,100% { opacity: 0; }
50% { opacity: 1; }
}

@keyframes fadeinout {
0%,100% { opacity: 0; }
50% { opacity: 1; }
}

/*Za JS filtere*/

.dont-show-image {
  position: absolute;
  margin-top: -500rem;
  overflow: hidden; 
  height: 0;
  padding: 0;
  width: 0;
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  will-change: height, opacity;
}

.show-image {
transition: opacity .3s ease-in-out, filter ease-in 0.3s,
transform ease-in-out 0.25s;
will-change: height, opacity;
}

/*nzm zasto sam ovo stavio*/

.gallery-content {
  margin-left: 0 !important;
  margin-right: 0 !important;
  right: 0 !important;
  left: 0 !important;
}

/*.gallery_spacing a::before {
  background-position: center;
  content: "";
  opacity: 0.15;
  margin-left: 0rem;
  margin-top: 0rem;
  position: absolute;
  z-index: -10;   
  width: 15rem;
  height: 15rem;
  background-color: #4a919e;
}*/

.gal-page01-override {
  margin: auto;
  width: 90%;
  min-height: 100%;
  z-index: 1;
  position: relative;
  min-height: 100vh;
  max-width: 1700px;
}

@media only screen and (min-width: 1440px) {
  .gallery_spacing {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: baseline;
    max-width: 95rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 768px) {

  .gal-page01-override {
    width: 100% !important;
    margin: 0rem;
  }

  .gallery_spacing {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: baseline;
    max-width: 95rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}




