* {
    margin: 0;
    box-sizing: border-box;
}

#ham-menu {
    flex: 1 1 auto;
    right: 0;
    transition: all ease-in-out .2s;
}

/*izgled hamburgera i izgled pri hoveru*/

#btn-close-div {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem !important;
    text-decoration: none;
    position: absolute;
    right: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3rem;
}

#btn-close-div:hover {
    background-color: black;
}

#btn-close-div a {
    font-size: 2rem;
    padding: 0rem;
}

#btn-close-div a:hover {
    background-color: rgba(0, 0, 0, 0);
}

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 0rem;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 20px;
    transition: all ease-in-out .2s;
    padding-top: 4rem;
    background-color: #3abdd479;
  }

  /*pozadina side menija, sa slikom*/

  .sidenav::after {
    background-image: url('../img/seamSquaresSMB.svg');
    background-position: center;
    content: "";
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    filter: brightness(2);
    right: 0;
    position: absolute;
    z-index: -1;   
    transition: all ease-in-out .2s;
}
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropbtn {
    padding: 0.5rem;
    line-height: 2rem;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    font-family: 'Armata';
    font-weight: 600;
    color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropbtn:hover {
    color: azure;
    background-color: black;
  }

/* Add an active class to the active dropdown button */
.active {
    color: azure;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    
  }

  .dropdown-container a {
      text-align: left;
      padding-left: 3rem;
  }

  .dropdown-container a:hover {
   color: azure;
  }

/*izgled side m kad je na normalnom ekranu i izgled kad je na telefonu*/
.side-menu-norm {
    width: 19em;
    transition: all ease-in-out .2s;
}
.side-menu-sml {
    background-color: indianred;
    width: 100%;
    transition: all ease-in-out .2s;
}

/*Stil koji se primenjuje na celu stranicu pri otvaranju side menija*/

.sideopen {
    transform: translate(-19em, 0);
    transition: all ease-in-out .2s;
}

 /*div koji ide preko cele stranice pri otvaranju side m, i sa klikom na njega se side m zatvara*/
#close-side-menu-div {
    display: none;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.493);
}

@media only screen and (max-width: 768px) {
    #ham-menu {
        display: block;
    }
}

/*Klasa za sakrivanje contenta - dontshow i showcont su za fade in efekat*/

.display-none {
    display: none;
}

.dont-show {
    opacity: 0 !important;
}

/*Klasa za otkrivanje contenta*/

.display-some {
    display: block;
}

.show-content {
    opacity: 1 !important;
    transition: ease-in-out 1s;
    will-change: transform, opacity;
}


/*oooooooooooooooooooooooooooooo*/

a[data-toggle="offCanvas"] {
    position: absolute;
    display: none;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 100;
}
a[data-toggle="offCanvas"] span {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
a[data-toggle="offCanvas"] span,
a[data-toggle="offCanvas"] span:before,
a[data-toggle="offCanvas"] span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 29px;
    background: azure;
    box-shadow: 0 1px 5px azure;
    position: absolute;
    display: block;
    content: "";
}
a[data-toggle="offCanvas"] span:before {
    -ms-transform: translate(0px, -10px);
    transform: translate(0px, -10px);
    -webkit-transform: translate(0px, -10px);
}
a[data-toggle="offCanvas"] span:after {
    -ms-transform: translate(0px, 10px);
    transform: translate(0px, 10px);
    -webkit-transform: translate(0px, 10px);
}
a[data-toggle="offCanvas"] span,
a[data-toggle="offCanvas"] span:before,
a[data-toggle="offCanvas"] span:after {
    -webkit-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
}
a[data-toggle="offCanvas"].activeOpen span {
    background-color: transparent;
}
a[data-toggle="offCanvas"].activeOpen span:before,
a[data-toggle="offCanvas"].activeOpen span:after {
    -webkit-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
}
a[data-toggle="offCanvas"].activeOpen span:before {
    -ms-transform: translate(-0px, -0px) rotate(-45deg);
    transform: translate(-0px, -0px) rotate(-45deg);
    -webkit-transform: translate(-0px, -0px) rotate(-45deg);
}
a[data-toggle="offCanvas"].activeOpen span:after {
    -ms-transform: translate(0px, -0px) rotate(45deg);
    transform: translate(0px, -0px) rotate(45deg);
    -webkit-transform: translate(0px, -0px) rotate(45deg);
}
.off-canvas{
    background: rgba(240, 255, 255, 0.5);
}
.off-canvas ul:not(.contextual-links){
    margin: 0;
    padding: 0;
    list-style: none;
}
.off-canvas ul:not(.contextual-links) li{
    width: 100%;
    padding: 0;
}
.off-canvas ul:not(.contextual-links) li a{
    font-family: 'Miso-r';
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
    transition: all ease-in-out .2s;
    color: #303030;
}
.off-canvas ul:not(.contextual-links) li a:hover{
    color: #3e57a7;
}
