.body-clock {
   font-family: 'Castoro', serif !important;
   font-weight: 400;
}

.img-frame1 {
   margin-top: -60vh;
   margin-left: -10vh;
   align-self: center;
   height: 60vh;
   width: 60vh;
   position: absolute;
   filter: grayscale(50%);
   transition: opacity ease-in-out 0.25s;
}

.img-frame2 {
   margin-top: 95vh;
   margin-left: 0vh;
   align-self: center;
   height: 60vh;
   width: 60vh;
   position: absolute;
   filter: grayscale(50%);
   transition: opacity ease-in-out 0.25s;
}

.img-frame3 {
   margin-right: -10vh;
   margin-top: -10vh;
   align-self: center;
   height: 80vh;
   width: 60vh;
   position: absolute;
   filter: grayscale(50%);
   transition: opacity ease-in-out 0.25s;
}

.img-frame4 {
   align-self: center;
   top: 20vh;
   height: 125vw;
   width: 125vw;
   position: absolute;
   filter: grayscale(50%);
   transition: opacity ease-in-out 0.25s;
}

.img-frame1 img {
   height: 100%;
   width: 100%;
   position: relative;
   object-fit: contain;
   transform: rotate(1deg);
}

.img-frame2 img {
   height: 100%;
   width: 100%;
   position: relative;
   object-fit: contain;
}

.img-frame3 img {
   height: 100%;
   width: 100%;
   position: relative;
   object-fit: contain;
   transform: rotate(-1deg);
}

.img-frame4 img {
   height: 100%;
   width: 100%;
   position: relative;
   object-fit: contain;
}

.clock {
   display: flex;
   position: relative;
   align-self: center;
   justify-content: center;
   align-items: center; 
   height: 65vh;
   width: 65vh;
   margin: 0 auto 0 auto;
   padding: 1rem;
   border-radius: 50%;
}

.okvir {
   position: relative;
   display:flex;
   justify-content:center;
   width: 100%;
   height: 100%;
   /* border: 1vw solid whitesmoke; */
   border-radius:50%;
   /* box-shadow: 5px 5px 20px black; */
  /* background-color: rosybrown;*/
   /* background-color: #bbc4cc; */
   /* background-color: whitesmoke; */
   content: "";
   z-index: 1;
   /* box-shadow: 0px 0px 1px black; */
}

.okvir::before {
   content: "";
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height: 100%;
   width: 100%;
   z-index: 0;
   align-self: center;
 /*background: radial-gradient(rgba(81, 81, 81, 1), rgba(33,33,33,1));
   filter: blur(2px); */
   border-radius: 50%;
   /* box-shadow: inset 0px 0px 1px black; */
}

.divi { 
   display: flex;
   align-items: center;
   justify-content: center;
   position:absolute;
   top: 0px;
   height:100%;
   font-size: 7vh;
   z-index: 2;
}

.divi span {
   color: rgb(17, 17, 17);
   top: 0.25rem;
}

.clock span {
   font-family: Verdana, Geneva, Tahoma, sans-serif !important;
   top: 0;
   position: absolute;  
}

.clock span::first-letter {
   /* text-shadow: 2px 2px 2px #CE5937; */
}

.divi:nth-child(1) {
   transform:rotate(30deg);
}
.divi:nth-child(1) span {
   /* transform: rotate(-30deg); */
}
.divi:nth-child(2){
   transform:rotate(60deg);
}
.divi:nth-child(2) span {
   /* transform: rotate(-60deg); */
}
.divi:nth-child(3){
    transform: rotate(90deg);
    font-size: 10vh;
}
.divi:nth-child(3) span {
   /* transform: rotate(-90deg); */
   
   top: 0;
}
.divi:nth-child(4){
   transform:rotate(120deg);
}
.divi:nth-child(4) span {
   /* transform: rotate(-120deg); */
}
.divi:nth-child(5){
   transform:rotate(150deg);
}
.divi:nth-child(5) span {
   /* transform: rotate(-150deg); */
}
.divi:nth-child(6){
   transform:rotate(180deg);
   font-size: 10vh;
}
.divi:nth-child(6) span {
   /* transform: rotate(-180deg); */
  
   top: 0;
}
.divi:nth-child(7){
   transform:rotate(210deg);
}
.divi:nth-child(7) span {
   /* transform: rotate(-210deg); */
}
.divi:nth-child(8){
   transform:rotate(240deg);
}
.divi:nth-child(8) span {
      /* transform: rotate(-240deg); */
}
.divi:nth-child(9){
   transform:rotate(270deg);
   font-size: 10vh;
}
.divi:nth-child(9) span {
   /* transform: rotate(-270deg); */
   
   top: 0;
}
.divi:nth-child(10){
   transform:rotate(300deg);
}
.divi:nth-child(10) span {
   /* transform: rotate(-300deg); */
}
.divi:nth-child(11){
   transform:rotate(330deg);
}
.divi:nth-child(11) span {
   /* transform: rotate(-330deg); */
}
.divi:nth-child(12){
   transform:rotate(360deg);
   font-size: 10vh;
}
.divi:nth-child(12) span {
   /* transform: rotate(-360deg); */
   /* font-family: initial !important; */
  
   top: 0;
}

.circ {
   height: 8%;
   width: 8%;
   border-radius: 50%;
   background-color: #191919;
   display: block;
   position: absolute;
   z-index: 15;
   top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.circ::after {
   content: "";
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   height: 75%;
   width: 75%;
   z-index: 0;
   align-self: center;
   border-radius: 50%;
   background-color:whitesmoke;
   box-shadow: 0px 0px 1px 1px;

}

#s {
   position:absolute;
   height: 100%;
   width: 5%;
   z-index: 10;  
}

#s::after {
   height: 55%;
   margin-top: 50%;
   bottom: 35%;
   content: "";
   position: absolute;
   width: 100%;
   background-color: #bbc4cc;
   background: url('../img/clock-img/dial-s.svg') no-repeat top center;
   background-size: contain;
}

#m {
   position:absolute;
   height: 100%;
   width: 8%;
   z-index: 9;
}

#m::after {

   height: 35%;
   margin-top: 20%;
   bottom: 50%;
   content: "";
   position: absolute;
   width: 100%;
   background-color:rgb(255, 253, 250);
   background: url('../img/clock-img/dial-m.svg') no-repeat top center;
   background-size: contain;
}

#h {
   position:absolute;
   height: 100%;
   width: 15%;
   transition: all ease-in 0.2s;
   z-index: 8;
}

#h::after {
   height: 30%;
   margin-top: 20%;
   bottom: 50%;
   content: "";
   position: absolute;
   width: 100%;
   background-color: rgb(255, 253, 250);
   background: url('../img/clock-img/dial-h.svg') no-repeat top center;
   background-size: contain;
}

.KiA {
   position: relative;
   z-index: 1;
   margin-top: auto;
   margin-bottom: 25%;
   font-size: 1vw;
   color: rgb(15, 15, 15);
   font-family: 'Roboto', sans-serif !important;
}

@media only screen and (min-width: 1366px) {

   .cont-width-full {
      max-width: none !important;
   }

   .divi {
      font-size: 2.5vw;
   }
   .speci0 span {
      font-size: 3.5vw;
   }

}

@media only screen and (max-width: 1024px) and (min-height: 1024px) {

   .img-frame1 {
      opacity: 0;
      transition: opacity ease-in-out 0.25s;
}

   .img-frame2 {
      opacity: 0;
      transition: opacity ease-in-out 0.25s;
   }

   .img-frame3 {
      opacity: 0;
      transition: opacity ease-in-out 0.25s;
   }

   .img-frame4 {
      display: block !important;
      top: 5vw;
   }
   
}

@media only screen and (max-width: 768px) {

   .img-frame1 {
      opacity: 0;
      transition: opacity ease-in-out 0.25s;
}

   .img-frame2 {
      opacity: 0;
      transition: opacity ease-in-out 0.25s;
   }

   .img-frame3 {
      opacity: 0;
      transition: opacity ease-in-out 0.25s;
   }

   .divi {
      font-size: 8vw;
   }

   .clock {
      height: 80vw;
      width: 80vw;
      font-size: 9vw;
   }
   .clock .divi span {
      font-size: 9vw;
   }

   .divi:nth-child(3) span {
      /* transform: rotate(-90deg); */
      font-size: 12vw;
   }
   .divi:nth-child(6) span {
      /* transform: rotate(-90deg); */
      font-size: 12vw;
   }
   .divi:nth-child(9) span {
      /* transform: rotate(-90deg); */
      font-size: 12vw;
   }
   .divi:nth-child(12) span {
      /* transform: rotate(-90deg); */
      font-size: 12vw;
   }

   .KiA {
      font-size: 1.3rem;
   }
}

@media only screen and (max-width: 480px) {

   .clock {
      font-size: 2vh;
   }

   .circ {
      height: 1rem;
      width: 1rem;
   }

   .KiA {
      margin-bottom: 30%;
      font-size: 1rem;
   }

}

@media only screen and (max-width: 340px) {

   .clock {
      font-size: 1.4rem !important;
   }

   .KiA {
      font-size: 0.8rem !important;
   }

   .divi:nth-child(3) span {
      /* transform: rotate(-90deg); */
      font-size: 1.6rem !important;
   }
   .divi:nth-child(6) span {
      /* transform: rotate(-90deg); */
      font-size: 1.6rem !important;
   }
   .divi:nth-child(9) span {
      /* transform: rotate(-90deg); */
      font-size: 1.6rem !important;
   }
   .divi:nth-child(12) span {
      /* transform: rotate(-90deg); */
      font-size: 1.6rem !important;
   }

}
