#lk-container {
    border-radius: 15px;
    font: Calibri, sans-serif;
    display: grid;
    width: 490px;
    height: 310px;
    padding: 4px 8px;
    border: 3px solid black;
    grid-template:  "sg bp rep rep rep"
                    "sg bp lk lk lk"
                    "fo fo pre pre cg"
                    "fo fo ime ime cg"
                    "fo fo dr dr cg"
                    "fo fo pol reg ss"
                    "fo fo diz diz ss"
                    "fo fo dva dva ss"
                    "di di di di po";
    grid-template-columns: 80px 80px 100px 100px 130px;
    grid-template-rows: 30px 30px 35px 35px 35px 35px 35px 35px 35px;


}

.sg {
    grid-area: sg;
    align-self: center;
    justify-self: center;
}

.rep {
    grid-area: rep;
}

.lk {
    grid-area: lk;
}

.fo {
    grid-area: fo;
    align-self: center;
    justify-self: center;
}

.pre {
    grid-area: pre;
}

.ime {
    grid-area: ime;
}

.dr {
    grid-area: dr;
}

.pol {
    grid-area: pol;
}

.reg {
    grid-area: reg;
}

.diz {
    grid-area: diz;
}

.dva {
    grid-area: dva;
}

.cg {
    grid-area: cg;
    align-self: end;
    justify-self: center;
}

.ss {
    grid-area: ss;
    align-self: center;
    justify-self: center;
}

.di {
    grid-area: di;
}

.po {
    grid-area: po;
    align-self: center;
    justify-self: center;
}

.velika-slova {
    font-size: 18px;
    font-weight: bold;
    color: #901;
    line-height: 16px;
}

.mala-slova {
    font-size: 12px;
    font-style: italic;
    color: #aaa;
    line-height: 14px;
}